.container {
    position: relative;
    margin: 0 auto;
    width: 1280px;
    padding-bottom: 100px;
    outline: 1px solid red;
}

.slide-reviews__item {
    outline: 1px solid rgb(112, 38, 197);
    
}

.img {
    width: 15px;
    height: 15px;
}

.slide-reviews,
.slide-customer {
    width: 926px;
    margin:  0 auto;

    outline: 1px solid rgb(36, 211, 124);
}

.slide-reviews::before {
    content: '';
    background-image: url(../img/ccccc.png);
    background-repeat: no-repeat;
    
    
}



.slide-reviews__photo {
    margin: 0 auto;
    margin-bottom: 15px;
}

.slide-reviews__cont {
    padding: 32px 50px;
    margin: 0;
    background-color: rgb(250, 250, 250);

}

.slide-reviews__descrip {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    text-align: center;
    letter-spacing: 0.04em;

    padding-left: 28px;
    padding-right: 35px;

    
    /*background-color: #FAFAFA;*/
    background-image: repeating-linear-gradient(to bottom,
      rgb(250,250,250),
      rgb(250,250,250) 30%,
      rgb(225,225,225) 30%,
      rgb(225,225,225) 31%);
}

.slick-dots li.slick-active button:before {
    color: #C7133E;
}

/*.slide-customer {
    padding-top: 50px;
    padding-bottom: 50px;
}*/

.slide-customer .slick-dots li.slick-active button:before {
    background-image: url(../img/home\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 12px;
    height: 12px;
    color: transparent;

}

.slide-customer__name {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.86;
    text-align: center;
    width: 926px;

    

    outline: 1px solid rgb(112, 36, 211);
}